# What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

# What is the Scripting Language ?
Programming languages use either of the following specialized programs to translate code:

>1. **A Compiler** - translates your entire code, then runs the program.
>2. **An Interpreter** - translates and runs your code one instruction at a time

* A scripting language is a programming language that uses an Interpreter to translate its source code. The interpreter reads and executes each line of code one at a time, just like a SCRIPT for a play or an audition, hence the the term "scripting language". Python uses an interpreter to translate and run its code and that's why it's called a scripting language

# Python Data Types

## Built-in Data Types
* In programming, data type is an important concept.
* Variables can store data of different types, and different types can do different things.

### Python has the following data types built-in by default, in these categories:
    * Text Type:	    str
    * Numeric Types:	int, float, complex
    * Sequence Types:   list, tuple, range
    * Mapping Type:	 dict
    * Set Types:	    set, frozenset
    * Boolean Type:	 bool
    * Binary Types:	 bytes, bytearray, memoryview
    * None Type:	    NoneType

# print function
>* The Python print() function is often used to output variables.
>* python is a case sensitive language so 'Print' is not allowed, print is the correct syntax

In [1]:
print("hello word")

hello word

In [3]:
print("how are you?",5)

how are you? 5

In [4]:
print("1+8")

1+8

>In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [5]:
print("1"+9)

TypeError: can only concatenate str (not "int") to str

>The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [6]:
x = 5
y = "John"
print(x, y)

5 John

In [7]:
print("1"+"9")

19

In [8]:
print(6)

6

In [9]:
print("himanshu")

himanshu

In [10]:
print("india","france","russia")

india france russia

In [11]:
print(False) #boolean data type

False

# sepration of the print values in the print function
>* when ever we print something with print function then in result it will seprate the given values by space
as we can see in india france and russia there is automatic space in the printed result

>* suppose, we don't want that space and for that follow the next line

In [12]:
print("india","france","russia",sep="/")  
#we are usig / to seprate the value inside the print function

india/france/russia

In [13]:
print("india","france","russia",sep="-") 
#we are using hyphen (-) to seprate the value inside the print function

india-france-russia

In [14]:
print("india",5,True) 
# print is a flexible function

india 5 True

In [16]:
print() 
'''if we press shift + tab then it will show 
the documentation of that command or function  '''

'if we press shift + tab then it will show \nthe documentation of that command or function  '

In [17]:
print()

In [19]:
type()
'''press shift + tab inside the type function 
and you will get documentation'''

In [13]:
print("hello")    
# here it will print the values in the new line every time
print("world")    
# because in the print manual it end with /n which means new line character
print("himanshu")

hello
world
himanshu

>if we want to print the values above in the same line then follow as shown    belove

In [14]:
print("hello",end=' _ ')
print("himanshu")
# now it will be printed in the same line

hello _ himanshu

In [15]:
print("hello",end=' 2 ')
print("himanshu")

hello 2 himanshu

# Python supports 3 categories of data types:

* basic types : (integer,float,complex,boolean,string)
* container types : (list,tupels,sets,dictionary)
* user-defined types : (class)

In [20]:
'''in container data type we keep more than one 
type of data type in a single container'''

'in container data type we keep more than one \ntype of data type in a single container'

In [17]:
# Int, or integer, is a whole number, positive or negative
# without decimals, of unlimited length.
print(4)
print(50030000000000000000009999999999999999999903)
print(1e309)
# largest no. range python can save 
# 1*10^309 = 1e309

4
50030000000000000000009999999999999999999903
inf

In [18]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [1]:
# Float, or "floating point number" is a number, 
# positive or negative, containing one or more decimals.
print(4.5)

4.5

In [20]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [22]:
# boolean
print(False)
print(True)

False
True

In [23]:
# Complex numbers are written with a "j" as the imaginary part:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [24]:
# to print the real part of the complex data type
print(x.real)

3.0

In [25]:
# to print the imaginery part of the complex data type
print(x.imag)

5.0

In [26]:
# String/Text
print("himanshu")
print('himanshu')
print('''himanshu''')

himanshu
himanshu
himanshu

In [27]:
# list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [28]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [29]:
# set
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

# dictionary
in below cell name is the key and hianshu is the value and similarly age is the key and 23 is the value and gender is the key where as male is the value

In [30]:
# dictionary
print({"name":"himanshu","age":23,"gender":"male"})

{'name': 'himanshu', 'age': 23, 'gender': 'male'}

### Type function
>You can get the data type of a variable with the type() function.

In [31]:
type(6.838)

float

In [32]:
type(True)

bool

In [33]:
type("himanshu")

str

In [34]:
type(4)

int

In [35]:
type([1,2,3,4,5])

list

# comments

* a piece of code which is not executed by compiler or interpriter 
* it is use full when you are working in team to give logic to the code below
* to write comment we can use #
* it will not show any output
* Comments can be used to explain Python code.
* Comments can be used to make the code more readable.
* Comments can be used to prevent execution when testing code.

In [23]:
# Comments can be placed at the end of a line, 
# and Python will ignore the rest of the line:

print("Hello, World!") #This is a comment

Hello, World!

In [22]:
# A comment does not have to be text that explains the code
# it can also be used to prevent Python from executing code:
# print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [26]:
# Since Python will ignore string literals that are not assigned to a variable, 
# you can add a multiline string (triple quotes) in your code, 
# and place your comment inside it:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!