# Literals 

Literals are a raw data given in variable. In python, there are various type of literals as follows

* Numeric literals
* String literals
* Boolean literals
* Special Literals

In [1]:
a=2
# here a is variable
# = is assigner to assign value 2 to variable a
# 2 is a literal or raw value given to the variable a

## 1. Numeric Literals

In [2]:
# we have three numerical data types in python integer, float, complex
a=0b1010 # binary Literals 
# here python knows that given literal or value is binary
b=100 # decimal literals
c=0o310 # octal lliterals
d=0x12c # hexadecimal literals

#float literals
float_1=10.5
float_2=1.5e2 # it is 1.5*10^2
float_3=1.5e-3 # it is 1.5*10^-3

#complex literals
x=3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

## 2. String literals

In [3]:
string='himanshu'
strings="himanshu"
char="c"
multiline_str="""this is a multiline string with more than one line code""" 
# used in big text like big blog text
unicode=u"\U0001F600\U0001F606\U0001F923"
raw_str=r"raw\n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

himanshu
himanshu
c
this is a multiline string with more than one line code
ðŸ˜€ðŸ˜†ðŸ¤£
raw\n string

## 3. Boolean literals

In [4]:
a=True+4 # value of True is 1 in python + 4 = 5 
b=False+10 # value of Flase is 0 in python +10 = 10 

print("a:",a)
print("b:",b) # here implicit type of conversion is happpening

a: 5
b: 10

## 4. Special literals

In [5]:
a=None # None is is absence of anything
print(a)
# in python we can not declair the variable 
# so using none function is the safest way to declair the variable

None

# Operators 

operators are used to perform operations on variables and values. Python has the following operators

* Arithmeitc operators
* Comparison operators (relational operators)
* Logical operators
* Bitwise operators
* Assignment operators
* Identity operators
* Membership operators

## Arithmetic operators

In [6]:
x=5;y=2
print(x+y)

7

In [7]:
print(x*y)

10

In [8]:
print(x-y)

3

In [9]:
print(x/y) # pure division

2.5

In [10]:
print(x%y) # modulus operators

1

In [11]:
a=11
b=3
a%b

2

In [12]:
print(x**y) #power function

25

In [13]:
print(x//2) # integer division 
# it will conevrt the quotient into integer # floor division

2

In [14]:
a=9
b=2
print(a//b)

4

## Comparision operation

In [15]:
x=5;y=2

In [16]:
print(x>y)

True

In [17]:
print(x<y)

False

In [18]:
print(x>=y)

True

In [19]:
print(x<=y)

False

In [20]:
print(x==y)

False

In [21]:
print(x!=y) # != stands for not equal to

True

## Logical operators
>* **and** -	Returns True if both statements are true	
>* **or** - Returns True if one of the statements is true	
>* **not** -	Reverse the result, returns False if the result is true

In [30]:
x=True
y=False

print(x or y)

True

In [31]:
print(x and y)

False

In [32]:
print(not x)

False

In [33]:
print(not y)

True

## Bitwise operators
* they always work on binary values
* when we have to work on binary values say for example if we are working on a image processing data, when we apply black and white filters then we convert the image in to 1 0 or in the numbers and then we have to use bitwise operators

In [24]:
x=2 # binary value of 2 is 010
y=3 # binary value of 3 is 110

print(x & y)

2

In [25]:
# now binary pattern of 
"""
010 
110
-----   is
010     which is two
"""

'\n010 \n110\n-----   is\n010     which is two\n'

In [26]:
print(x or y)

2

In [27]:
print(x >> 2)

0

In [28]:
print(y << 3)

24

In [29]:
print(~x)

-3

## assignment operators

In [44]:
a=3 #here we are assigning the value 3 to a
print(a)

3

In [45]:
# a += 3  same as a = a + 3
a+=3
print(a)

6

In [46]:
# a -= 3  same as a = a - 3
a -= 3
print(a)

3

In [47]:
# a *= 3  same as a = a * 3
a*=3
print(a)

9

In [48]:
# a **= 3 same as a = a ** 3
a**=3
print(a)

729

In [49]:
a&=3
print(a)

1

## Identity operators
it checks that two variables are on the same memory location or not
>* **is** -	Returns True if both variables are the same object	
>* **is not** -	Returns True if both variables are not the same object

In [23]:
h=3  
j=3
print(h is j)
# here h and j are on the same memory location 
# so they are identical and it will print True

True

In [71]:
a = "hello"
b = "hello"
print(a is b)

True

In [78]:
a=[1,2,3]
b=[1,2,3]
print(a is b)
print(a is not b)
# here they are not on the same memory location

False
True

In [77]:
a="hello-himanshu"
b="hello-himanshu"
print(a is b)
print(a is not b)

False
True

## Membership operators
>1. **in** - Returns True if a sequence with the specified value is present in the object
>2. **not in** -	Returns True if a sequence with the specified value is not present in the object
* Membership operators are used to test if a sequence is presented in an object:
* it tells us that whether one thing is in another thing or not

In [74]:
x="delhi"
print("d" in x)
print("d" not in x)

True
False

In [76]:
h=[1,2,3,4,5]
print(5 in h) 
# this is applicable on set,tuple,dict and list everywhere

True

# Operator Precedence
* Operator precedence describes the order in which operations are performed.

In [50]:
'''Parentheses has the highest precedence, 
means that expressions inside parentheses must be evaluated first:'''
print((6 + 3) - (6 + 3))

0

In [1]:
'''Multiplication * has higher precedence than addition +,
and therefor multiplications are evaluated before additions:''' 
print(100 + 5 * 3)

115