# Sets
1. sets do not allow the duplicates
2. sets have no indexing and slicing
3. they don't allow mutable data type
4. sets itself a mutable data type

* **Note :** because set is mutable data type, set will not allow another set inside a particular set, so 2D set or 3D sets will not be possible to make

* **Unordered :** Unordered means that the items in a set do not have a defined order.Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
* **Unchangeable :** Set items are unchangeable, meaning that we cannot change the items after the set has been created.
* Once a set is created, you cannot change its items, but you can remove items and add new items.
* **Duplicates Not Allowed :** Sets cannot have two items with the same value.

### Creating a Set

In [1]:
S1={}
# for dictionary and set python has curly brackets {}
# by default this will create a dictionary rather than set
# by this code we can not create a set

In [2]:
type(S1)
# it will show as dictinary in the type fucntion

dict

>* Empty set is a dict data type

In [3]:
s1=set()
type(s1)
# this will create an empty set

set

* **The set() Constructor :**
>* It is also possible to use the set() constructor to make a set.

In [4]:
thisset = set(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [5]:
S1={1,2,3,4,5,6}
# homegenous set
S1

{1, 2, 3, 4, 5, 6}

>* **Note :** Sets are unordered, so you cannot be sure in which order the items will appear.

In [6]:
S2={"hello",4.5,True}
S2

{4.5, True, 'hello'}

In [7]:
S3={1,1,2,2,3,3,4,4}
# in result it will remove all the duplicate items
S3

{1, 2, 3, 4}

>* **Note :** The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [8]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 'banana', 2, 'apple', 'cherry'}

In [9]:
S4={[1,2,3],"hello"}
# this will throw an error
# because sets doesn't allow mutable data type in it

TypeError: unhashable type: 'list'

In [ ]:
'''if we perform the same previous code 
by having tuple inside the set then....'''

S5={(1,2,3),"Hello"}
S5
# this will create a set because tuple is immutable

In [ ]:
type(S5)
# note : set have no indexing

In [ ]:
# 2D sets are not possible
S5={{1},{2}}
S5
# this will throw an error

###  Access items
* You cannot access items in a set by referring to an index or a key.
* you can not access item out of a set

In [ ]:
S1 = {1, 2, 3, 4, 5, 6}

In [ ]:
S1[0]
# this will throw an error because set do not support indexing or slicing

In [ ]:
S1[:3]
# even slicing will not work on sets

>* we can not edit items in set

In [10]:
S1
id(S1) # this is memory address of S1

1983962130464

In [11]:
L=list(S1)
L
# converted in the list

[1, 2, 3, 4, 5, 6]

In [12]:
L[0]=100
L

[100, 2, 3, 4, 5, 6]

In [13]:
S1=set(L)
S1

{2, 3, 4, 5, 6, 100}

In [14]:
id(S1)
# we are not editing the set but we are creating a new set

1983962960384

In [15]:
'''though set is a mutable data type we can not edit it 
and also we cannot access any item out of it'''

'though set is a mutable data type we can not edit it \nand also we cannot access any item out of it'

### Add item
* Once a set is created, you cannot change its items, but you can add new items.
* To add one item to a set use the add() method.

In [16]:
S1 = {2, 3, 4, 5, 6, 100}

In [17]:
id(S1)

1983962961504

In [18]:
S1.add(7)

In [19]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [20]:
id(S1)
# memory place is still same

1983962961504

In [21]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

* **Add Sets**
>* To add items from another set into the current set, use the update() method.

In [22]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'apple', 'mango', 'papaya', 'cherry'}

* **Add Any Iterable**
>* The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [23]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'cherry', 'apple', 'kiwi'}

### Delete
1. del
2. remove/discard
3. pop
4. clear

In [24]:
S1={2, 3, 4, 5, 6, 7, 100}
S1

{2, 3, 4, 5, 6, 7, 100}

In [25]:
S2={4.5, True, 'hello'}
S2

{4.5, True, 'hello'}

In [26]:
del S2

In [27]:
S2
# S2 is deleted so it will show an error

NameError: name 'S2' is not defined

In [28]:
del S1[0]
# this will not work because we can not delete an item of set
# only whole set can be deleted 
#'set' object doesn't support item deletion

TypeError: 'set' object doesn't support item deletion

* **Remove Item :**
>* To remove an item in a set, use the remove(), or the discard() method.

In [29]:
S1.remove(100)

In [30]:
S1

{2, 3, 4, 5, 6, 7}

In [31]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [32]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

>* You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
>* The return value of the pop() method is the removed item.

In [33]:
S1.pop()
# answer 2 is due to hashing

2

In [34]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [35]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)
#  this will not delete the set permanently

set()

### Set operations

In [36]:
S1={1,2,3,4,5}
S2={3,4,5,6,6}

In [37]:
S1+S2
# this will throw an error because there is no concatination

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [38]:
S1*3
# we also can not multiply it

TypeError: unsupported operand type(s) for *: 'set' and 'int'

* **Loop Items :**
>* You can loop through the set items by using a for loop:

In [39]:
# but we can run the loop
for i in S1:
    print(i)

1
2
3
4
5

In [40]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

* **membership operation :**

In [41]:
1 in S1

True

In [42]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

* **functions :**

In [43]:
len(S1)

5

In [44]:
min(S1)

1

In [45]:
max(S1)

5

In [46]:
x=sorted(S1)
type(x)
# it will return it as a list

list

In [47]:
sum(S1)

15

In [48]:
sorted(S1,reverse=True)

[5, 4, 3, 2, 1]

In [49]:
S1 = {1, 2, 3, 4, 5}
S1

{1, 2, 3, 4, 5}

In [50]:
S2 = {3, 4, 5, 6}
S2

{3, 4, 5, 6}

* **Join Two Sets :**
>* There are several ways to join two or more sets in Python.
>* You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [51]:
S1.union(S2)

{1, 2, 3, 4, 5, 6}

In [52]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [53]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'c', 'b'}

* **Note :** Both union() and update() will exclude any duplicate items.

In [54]:
S1 = {1, 2, 3, 4, 5}
print(S1)
S2 = {3, 4, 5, 6}
print(S2)

{1, 2, 3, 4, 5}
{3, 4, 5, 6}

In [55]:
S1.intersection(S2)

{3, 4, 5}

In [56]:
S1.difference(S2)

{1, 2}

In [57]:
S2.difference(S1)

{6}

In [58]:
S1.symmetric_difference(S2)

{1, 2, 6}

In [59]:
S1.isdisjoint(S2)

False

In [60]:
S1.issubset(S2)

False

In [61]:
S1.issuperset(S2)

False

In [62]:
S1.
# press tab key to know the available fucntions of set

SyntaxError: invalid syntax (4087239274.py, line 1)

    add()       	      Adds an element to the set
    clear()	              Removes all the elements from the set
    copy()	              Returns a copy of the set
    difference()	      Returns a set containing the difference between two or more sets
    difference_update()	  Removes the items in this set that are also included in another, specified set
    discard()	          Remove the specified item
    intersection()	      Returns a set, that is the intersection of two other sets
    intersection_update() Removes the items in this set that are not present in other, specified set(s)
    isdisjoint()	      Returns whether two sets have a intersection or not
    issubset()	          Returns whether another set contains this set or not
    issuperset()	      Returns whether this set contains another set or not
    pop()	              Removes an element from the set
    remove()	          Removes the specified element
    symmetric_difference()Returns a set with the symmetric differences of two sets
    symmetric_difference_update()	inserts the symmetric differences from this set and another
    union()	              Return a set containing the union of sets
    update()	          Update the set with the union of this set and others