# Static software

here only software speaks to you but you can not give any input into that software eg. clock, your college website, etc.

# Dynamic software

here both user and software talk to each other. eg. youtube, whatsapp, instagram, etc.

In [3]:
input()

himanshu

'himanshu'

In [4]:
input("tell me your name?")

tell me your name?himanshu

'himanshu'

In [1]:
name=input("Enter your name:")
print(name)

Enter your name:himasnhu
himasnhu

In [1]:
input(prompt="how are you? ")

how are you? i'm fine

"i'm fine"

In [4]:
first_num = input("enter the first number")
second_num = input("enter the second number")

enter the first number20
enter the second number30

In [5]:
result = first_num + second_num
print(result)

2030

In [7]:
print(type(first_num),type(second_num))
# python will always take user input in a string data type by default

<class 'str'> <class 'str'>

# NOTE:
* when you are taking input from user it always takes in the form of string 
* in the above case 20 and 30 are considered as a string that is why they were added like that and it is called concatination

# Type conversion

* it's a simple process which helps us to convert one data type in to another data type
* conditions applied that those data type should be convertable in the other data type 
* you can not convert kolkata in to int because kolkata is a string  

# Two type of conversions

1. Implicit conversion

-it happens when python automatically performs the type conversion

2. Explicit conversion

-it happens when a programmer you tell python to perform the type conversion

## implicit conversion

In [1]:
4+5.5 
'''here 4 is int and 5.5 is float still python added them both 
and performed the implicit conversion'''

9.5

In [2]:
a=5
b=6+7j
print(a+b)

(11+7j)

In [3]:
4.5+5+11j

(9.5+11j)

## explicit functions for type conversion are given below

* If you want to specify the data type of a variable, this can be done with casting.

In [1]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [5]:
# int function
a='45'
int(a)

45

In [6]:
type(a)

str

In [7]:
float(4)

4.0

In [22]:
str(5)

'5'

In [23]:
bool(1)

True

In [24]:
bool(0)

False

In [25]:
complex(11)

(11+0j)

In [8]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [27]:
tuple('himanshu')

('h', 'i', 'm', 'a', 'n', 's', 'h', 'u')

In [10]:
set("himanshu")

{'a', 'h', 'i', 'm', 'n', 's', 'u'}

In [9]:
a=4.5
int(a)

4

>* python type conversion does not chage the original value, it just create a value for temporary operation

In [10]:
# despite apllying the int type function it does not change the variable value
# so type conversion is not a permanent operation
print(a)

4.5

In [12]:
first_num = input("enter the first number")
second_num = input("enter the second number")
result = first_num + second_num
print(result)

enter the first number45
enter the second number55
4555

In [13]:
first_num = input("enter the first number")
second_num = input("enter the second number")
result = int(first_num) + int(second_num)
print(result)

enter the first number45
enter the second number55
100

In [14]:
first_num = int(input("enter the first number"))
second_num = int(input("enter the second number"))
result = first_num + second_num
print(result)

enter the first number45
enter the second number55
100

In [15]:
first_num=int(input("give first num"))
result=first_num**2
print(result)

give first num15
225

In [11]:
first_num=int(input("give first num"))
result=first_num**3
print(result)

give first num7
343

In [16]:
p=int(input("principle"))
t=int(input("time"))
r=int(input("rate"))
result=(p*t*r)/100
print(result)

principle1000
time2
rate8
160.0

In [18]:
p=int(input("principle"))
t=int(input("time"))
r=int(input("rate"))
result=(p*t*r)/100
print("your interest amount:" ,result)
print("you will get:" ,result+p)

principle5000
time2
rate5
your interest amount: 500.0
you will get: 5500.0