# Loops (iteration control block)
* if we want to do some work repeatedly then we place that work in the loops

## type of loops in python 
1. for loop
2. while loop

## use of loops
Loops are an important programming construct that allow us to repeat "code blocks". Python uses "for loops" when the "number of iterations are known" and "while loops" when the "number of iterations are unknown". 
* Iterations refers to the number of times a loop's code block is run.

# 1.While loop
A while loop is a control flow statement that allows you to execute a block of code repeatedly as long as a specified condition is true

The condition is evaluated before each iteration of the loop. If the condition is true, the code insie the loop is executed. This process continues until the condition is false, at which point the loop terminates and control is passed to the next statement after the loop.

Note that you need to ensure that the condition will eventually become false, otherwise the loop will run indefinitely and the program will hang.

In [2]:
i = 1
while i<=10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [3]:
number = int(input("enter the number"))

i = 1 # initilization statment

while i<number: # condition statment 
    print(number * i)
    i+=1 # update statement
# execute this in python tutor website

enter the number11
11
22
33
44
55
66
77
88
99
110

In [23]:
# Sum of User enter number 1 to till end
number = int(input("Enter a number: "))
i = 0
sum = 0
while i<=number:
    sum += i
    i +=1
print("sum of number upto", number , "is: ",sum)

Enter a number: 5
sum of number upto 5 is:  15

In [26]:
# Find factorial
number = int(input("Enter a number"))
i = 1
fact = 1
while i<=number:
    fact *= i
    i +=1 #updating the value of i
print("factorial for",number,"is",fact)

Enter a number3
factorial for 3 is 6

In [4]:
# print table of numbers
number = int(input("enter the number"))

i = 1
while i<11:
    print(number,"*",i,"=",number * i)
    i+=1

enter the number20
20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [2]:
number = int(input("enter the number"))

i = 1

while i<11:
    print(number,"*",i,"=",number ** i)
    i+=1

enter the number30
30 * 1 = 30
30 * 2 = 900
30 * 3 = 27000
30 * 4 = 810000
30 * 5 = 24300000
30 * 6 = 729000000
30 * 7 = 21870000000
30 * 8 = 656100000000
30 * 9 = 19683000000000
30 * 10 = 590490000000000

In [3]:
'''With the else statement we can run a block of code once 
when the condition no longer is true:'''

i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# guessing game

In [14]:
import random

In [15]:
random.randint(1,100)
# this is the way to generate the random numbers in a given range

41

In [17]:
jackpot = random.randint(1,100)

guess = int(input("guess the number")) #by giving int we are doing type conversion

while guess != jackpot:
    if guess < jackpot:
        print("guess higher")
    else :
        print("guess lower")
    guess = int(input("guess the number"))
    
print("right answer")

guess the number50
guess higher
guess the number60
guess lower
guess the number55
guess higher
guess the number57
right answer

In [18]:
jackpot = random.randint(1,100)

guess = int(input("guess the number")) #by giving int we are dong type conversion
counter = 1

while guess != jackpot:
    if guess < jackpot:
        print("guess higher")
    else :
        print("guess lower")
    guess = int(input("guess the number"))
    counter += 1
    
print("correct answer")    
print("you took",counter,"attempts")

guess the number60
guess lower
guess the number40
guess lower
guess the number30
guess lower
guess the number20
guess lower
guess the number10
guess higher
guess the number15
correct answer
you took 6 attempts

# 2.For loop
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

### The range() Function
>* It is a built in function that is used to generate a sequence of numbers.
>* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
>* The range() function can be used in a for loop to iterate through a sequence of numbers.
* **start :** An integer that represents the value of the sequence (default value is 0)
* **stop :** An integer that represents the ending value of the sequence(the value is not included in the sequence)
* **step :** An integer that represents the increment value of the sequence(dufault value is 1)

In [25]:
'''The range() function defaults to 0 as a starting value, 
however it is possible to specify the starting value by adding a parameter: 
range(2, 6), which means values from 2 to 6 (but not including 6):'''
for x in range(2, 6):
    print(x)

2
3
4
5

In [26]:
# range function 
range(1,11) 
# here numbers generated are 1 to 10, here 11 is note included

range(1, 11)

In [27]:
# we can convert this into any type of the data type ex. list
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
list(range(1,11,2))
# here the third value 2 is a step function which defines the gap between range

[1, 3, 5, 7, 9]

In [6]:
list(range(1,20,3)) # her egap is 3

[1, 4, 7, 10, 13, 16, 19]

In [7]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [8]:
# sequence function
# string
"kolkata" # kolkata is a sequence of characters

'kolkata'

In [9]:
['kolkata','delhi','mumbai']
#this is sequence - something which is in order
# sets,tuples, lists are also sequence

['kolkata', 'delhi', 'mumbai']

In [ ]:
# what for loop does is either it will iterate on range or on sequence

In [16]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [19]:
for i in range(11,0,-2):
    print(i)

11
9
7
5
3
1

In [8]:
for i in range(1,11):
    print(i,"=",i**2)

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100

In [9]:
for i in range(1,11):
    print("2","*",i,"=",i*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [10]:
num=int(input("enter number: "))
for i in range(1,11):
    print(num,"*",i,"=",i*num)

enter number: 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [20]:
# strings are iterable objects, they contain a sequence of characters:
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [21]:
for i in [1,2,3,5]: #list
    print(i)

1
2
3
5

In [22]:
for i in {1,2,3,5}: # sets
    print(i)

1
2
3
5

In [23]:
for i in (1,2,3,5): # tuple
    print(i)

1
2
3
5

In [5]:
l=[1,2,3,4,5]
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [6]:
l1=["anju","soman","krish","naik"]
for i in l1:
    print(i)

anju
soman
krish
naik

In [7]:
# generate the employee id for infosys company
for i in range(100,121):
    print("INFY",i)

INFY 100
INFY 101
INFY 102
INFY 103
INFY 104
INFY 105
INFY 106
INFY 107
INFY 108
INFY 109
INFY 110
INFY 111
INFY 112
INFY 113
INFY 114
INFY 115
INFY 116
INFY 117
INFY 118
INFY 119
INFY 120

In [11]:
for i in range(1,11):
    if (i%2)==0:
        print(i,"=","even number")
    else:
        print(i,"=","odd number")

1 = odd number
2 = even number
3 = odd number
4 = even number
5 = odd number
6 = even number
7 = odd number
8 = even number
9 = odd number
10 = even number

In [24]:
# when you know that loop will run for fix number if times then use the for loop
# if don't know how many times loop will run then use the while loop

# Nested loops

* when you are using one loop in another loop it is called nested loop
* consumed time to run a nested loop is n square so it is less preffered

"""you can use nestes loops in banking sector when you have the user information to be found so you will run a one loop
and then you have to find the transactions by the user so we will learn another loop to know the transactions"""

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)
# run this in python tutor

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# if we want to print the following sequence for the astricks(*)
# * 
# **
# ***
# ****
# *****

In [10]:
rows=int(input("enter the number of rows"))

for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

enter the number of rows30
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [11]:
x = [8, 10, 1, 2, 3, 4, 4, 5, 6, 7, 7, 8]
l = []
for i in x:
    if i not in l:
        l.append(i)
    else:
        print(i)
        break

4