# String
>* string is one of the data type in the python
>* Strings are sequence of Characters
>* In python specifically, strings are a sequence of unicode characters
    
1. creating strings
2. accessing strings
3. addding chars to strings
4. editing strings
5. deleting strings
6. operations on strings
7. string functions

* Strings in python are surrounded by either single quotation marks, or double quotation marks.
* 'hello' is the same as "hello".
* You can display a string literal with the print() function:

## Creating strings

In [1]:
print("Hello")
print('Hello')

Hello
Hello

>* Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
a = "Hello"
print(a)

Hello

### Multiline Strings
    You can assign a multiline string to a variable by using three quotes:

In [3]:
# You can use three double quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

'''this one is used when we want multiline strings. 
example... when we are writing blogs'''

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

'this one is used when we want multiline strings. \nexample... when we are writing blogs'

>in the result, the line breaks are inserted at the same position as in the code.

In [4]:
# Or three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

>* Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
>* However, Python does not have a character data type, a single character is simply a string with a length of 1.

In [5]:
c=str("hello")
print(c)

hello

In [6]:
c=str(27269292)
print(c)
print(type(c))

27269292
<class 'str'>

## Accessing substrings from a string
    Square brackets can be used to access elements of the string.

### 1.concept of indexing

There are two type of indexing 
1. Positive indexing
2. Negative indexing

In [7]:
# Positive indexing
c="hello"
print(c)
# here character in the strings have index position 
# h is having index 0 then e having 1 and so on

hello

In [8]:
print(c[1])
# it will fetch the first character of the string hello

e

In [9]:
print(c[4])

o

In [10]:
# Negative indexing
print(c[-1])
# for last character of the string

o

In [11]:
print(c[-4])

e

### 2.slicing
* variable_name [from : to : jump]
>* Specify the start index and the end index, separated by a colon, to return a part of the string.

In [12]:
c="hello world"
print(c)

hello world

In [13]:
print(c[0:5])
# here 5 is not included

hello

In [14]:
# Get the characters from position 2, and all the way to the end:
print(c[2:])
# it will give 2 onwards everything

llo world

In [15]:
'''By leaving out the start index, 
the range will start at the first character:'''

print(c[:9])

hello wor

In [16]:
print(c[:])

hello world

In [17]:
print(c[2:6:2])
# last 2 is used for having gap of 2 between the range of 2 to 5

lo

In [18]:
print(c[0:8:3])

hlw

Note : Indexing and jumping must be same direction otherwise return blank

In [19]:
print(c[0:8:-1])
# this will not give any result
''' because we are working with the positive indexing 
so it won't work on the -1 value'''

" because we are working with the positive indexing \nso it won't work on the -1 value"

In [20]:
print(c[-5:-1:2])

wr

In [21]:
print(c[::-1])
# this will reverse the whole string

dlrow olleh

In [22]:
print(c[-1:-5:-1])

dlro

## Editing and Deleting in Strings

In [23]:
c="hello"
print(c)

hello

In [24]:
c[0]='x'
# this will throw the error
# because strings are not editable in the python
# hence strings are immutable data type
# immutable = can not be changed in the memory location

TypeError: 'str' object does not support item assignment

In [ ]:
c="world"
print(c)
# here we are reassigning the the word world instead of hello word

In [25]:
# we can not also add character in the strings

In [26]:
del c

In [27]:
print(c)
'''this will throw the error because we already 
deleted the c string in the above code '''

NameError: name 'c' is not defined

In [28]:
c="hello"
print(c)

hello

In [29]:
del c[0]
# this will also throw the error
'''we can not delete the particular character in the string 
it will bring  the changes in the existing strings and it will do mutation'''

TypeError: 'str' object doesn't support item deletion

In [30]:
# even we can not delete the portion of the string
del c[:3:2]
# this will also throw the error

TypeError: 'str' object does not support item deletion

## Operations on Strings
* Arithmetic operations
* Relational operations
* Logical operations
* Loops on strings
* Membership operations

In [31]:
# To concatenate, or combine, two strings you can use the + operator.
"hello" + "-" +"himanshu"

'hello-himanshu'

In [32]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [33]:
print("*"*500)
# this one is for multiplication

********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

In [34]:
print("hello  " * 10)

hello  hello  hello  hello  hello  hello  hello  hello  hello  hello

In [35]:
"hello"=="himanshu"
# here both the strings are not same

False

In [36]:
"hello" != "appu"

True

##### relational operators

In [37]:
"mumbai" > "pune"

# here compariosion is not based on the length of the word
# comparision is done lexicographically

'''in dictionary p comes later so it is bigger than the m 
so that is why pune is greater than the mumbai'''

"""In mathematics, the lexicographic or lexicographical order
is a generalization of the alphabetical order of the 
dictionaries to sequences of ordered symbols or 
more generally, of elements of a totally ordered set."""

'In mathematics, the lexicographic or lexicographical order\nis a generalization of the alphabetical order of the \ndictionaries to sequences of ordered symbols or \nmore generally, of elements of a totally ordered set.'

In [38]:
c="mumbai" > "pune"
print(c)

False

In [39]:
"goa"<"kolkata"

True

In [40]:
"kol"<"Kol"
# small letter comes after the capital letters

False

##### logical operations

In [41]:
"hello" and "world"

'world'

In [42]:
"" -> False 
# empty string is false for the python
"appu" -> True 
# non-empty string is true for the python

SyntaxError: invalid syntax (3160823874.py, line 1)

In [43]:
"" and "hello"

'''first one is false and second is true so result 
is false because we are using the and operator'''

'first one is false and second is true so result \nis false because we are using the and operator'

In [44]:
"" or "himanshu"

'himanshu'

In [45]:
"hello" or "himanshu"
# here hello is already 1 so it will return the hello

'hello'

In [46]:
"hello" and "himanshu"

'himanshu'

In [47]:
not "hello"

False

In [48]:
not ""

True

##### loops in strings
>* Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [49]:
c = " hello word"
for i in c :
    print(i)

h
e
l
l
o

w
o
r
d

In [50]:
c = " hello word"
for i in c [2:7:2]:
    print(i)

e
l

In [51]:
c = " hello word"
for i in c [::-1]:
    print(i)

d
r
o
w

o
l
l
e
h

##### membership operators
>* To check if a certain phrase or character is present in a string, we can use the keyword in.

In [52]:
c=" hello word "

In [53]:
print('h' in c)
print('H' in c)
print('word' in c)

True
False
True

In [54]:
'''To check if a certain phrase or character is NOT present in a string, 
we can use the keyword not in'''
'word' not in c

False

In [55]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [56]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [57]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [58]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## String functions

### common functions
* len
* max
* min
* sorted

>* To get the length of a string, use the len() function.

In [59]:
c="kolkata"
len(c)

7

In [60]:
max(c)

't'

In [61]:
min(c)

'a'

In [62]:
sorted(c)
# this will sort the charecters in the ascending order
# it will return this in the form of list

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [63]:
sorted(c,reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

### 1.Capitalize/Title/Upper/Lower/Swapcase

In [64]:
c='hello world'
print(c)

hello world

In [65]:
print(c.capitalize())
# it will capitalize the first letter of the sentence or word

Hello world

In [66]:
"it is raining today".capitalize()

'It is raining today'

In [67]:
"it is raining today".title()
# first letter of the every word will be capital

'It Is Raining Today'

In [68]:
"KoLkAtA".swapcase()
# it will convert the lower into upper and upper into lower

'kOlKaTa'

In [69]:
# The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [70]:
# The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

### 2. Count

In [71]:
"it is raining today".count("i")

4

In [72]:
"it is raining today".count("ing")
# it will also work on the sub string also

1

In [73]:
"it is raining today".count("x")

0

### 3.Find/Index

In [74]:
"it is raining today".find("i")
# it will give the position of the i charecter

0

In [75]:
"it is raining today".find("g")

12

In [76]:
"it is raining today".find("today")

14

In [77]:
"it is raining today".find("x")

# if the letter or sub string is not present find will return -1
'''where as index will throw the error if the 
mentioned letter is not present in the sentence'''

'where as index will throw the error if the \nmentioned letter is not present in the sentence'

In [78]:
"it is raining today".index("rain")

6

### 4.endswith/startswith

In [79]:
"it is raining today".endswith("ing")

False

In [80]:
"it is raining today".startswith("ef")

False

In [81]:
"it is raining today".startswith("it")

True

### 5. format
* The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [82]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [83]:
 '''The format() method takes unlimited number of arguments,
and are placed into the respective placeholders:'''

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [84]:
"hello my name is {} and my age is {}".format("himanshu",22)

'hello my name is himanshu and my age is 22'

In [85]:
''' You can use index numbers {0} to be sure the 
arguments are placed in the correct placeholders:'''

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [86]:
"hello my name is {1} and my age is {0}".format("himanshu",22)

'hello my name is 22 and my age is himanshu'

In [87]:
"hello my name is {name} and my age is {age}".format(name="himanshu",
                                                     age=22)

'hello my name is himanshu and my age is 22'

In [88]:
"hello my name is {age} and my age is {name}".format(age="himanshu",
                                                     name=22)

'hello my name is himanshu and my age is 22'

In [89]:
"hello my name is {name} and my age is {weight}".format(name="himanshu",
                                                        age=22,weight=70)

'hello my name is himanshu and my age is 70'

In [90]:
"hello my name is {name} and my age is {name}".format(name="himanshu",
                                                      age=22,weight=53)

'hello my name is himanshu and my age is himanshu'

### 6. isalnum/isalpha/isdecimal/isdigit/isidentifier

* this all are question function
* it is useful in validation

In [91]:
"FLAT20".isalnum()
# it checks if the given string is alpha numeric or not

True

In [92]:
"FLAT 20 & ".isalnum()

False

In [93]:
"FLAT".isalpha()

True

In [94]:
"FLAT20".isdigit()

False

In [95]:
"20".isdigit()

True

In [96]:
"hello world".isidentifier()
# here space is there in between hello and world so it is not valid identifier

False

In [97]:
"hello_world".isidentifier()

True

### 7. Split
* The split() method returns a list where the text between the specified separator becomes the list items.

In [98]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [99]:
"who is the prime minister of india".split()
# it splits them in words in the form of list

['who', 'is', 'the', 'prime', 'minister', 'of', 'india']

In [100]:
"who is the prime minister of india".split("i")

['who ', 's the pr', 'me m', 'n', 'ster of ', 'nd', 'a']

### 8. Join
* it is a reverse of the split function

In [101]:
" ".join(['who', 'is', 'the', 'prime', 'minister', 'of', 'india'])

'who is the prime minister of india'

In [102]:
"/".join(['who', 'is', 'the', 'prime', 'minister', 'of', 'india'])

'who/is/the/prime/minister/of/india'

In [103]:
"-".join(['who', 'is', 'the', 'prime', 'minister', 'of', 'india'])

'who-is-the-prime-minister-of-india'

### 9. Replace
* The replace() method replaces a string with another string:

In [104]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [105]:
"Hi my name is himanshu".replace("himanshu","appu")

'Hi my name is appu'

### 10. Strip
* it will remove the trailing space in the string 
* the strip() method removes any whitespace from the beginning or the end:

In [106]:
name="              himanshu          "
print(name)

              himanshu

In [107]:
"hi" + name

'hi              himanshu          '

In [108]:
name.strip()
# this will remove the spaces

'himanshu'

In [109]:
# "hello".
# after . press tab key to know the all availabel functions of the strings

### 11. Escape Character
* To insert characters that are illegal in a string, use an escape character.
* An escape character is a backslash \ followed by the character you want to isert.
* An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

         Code	  Result
        \'   -  Single Quote	
        \\   -  Backslash	
        \n   -  New Line	
        \r   -  Carriage Return	
        \t   -  Tab	
        \b   -  Backspace	
        \f   -  Form Feed	
        \ooo -  Octal value	
        \xhh -  Hex value

In [110]:
'''You will get an error if you use double quotes 
inside a string that is surrounded by double quotes:'''

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (110194180.py, line 4)

In [111]:
# To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

    capitalize()	Converts the first character to upper case
    casefold()	  Converts string into lower case
    center()	    Returns a centered string
    count()	     Returns the number of times a specified value occurs in string
    encode()	    Returns an encoded version of the string
    endswith()	  Returns true if string ends with the specified value
    expandtabs()	Sets the tab size of the string
    find()	      Searches string for a specified value and returns position of where it was found
    format()	    Formats specified values in a string
    format_map()	Formats specified values in a string
    index()	     Searches the string for a specified value and returns the position of where it was found
    isalnum()	   Returns True if all characters in the string are alphanumeric
    isalpha()	   Returns True if all characters in the string are in the alphabet
    isdecimal()	 Returns True if all characters in the string are decimals
    isdigit()	   Returns True if all characters in the string are digits
    isidentifier()  Returns True if the string is an identifier
    islower()	   Returns True if all characters in the string are lower case
    isnumeric()	 Returns True if all characters in the string are numeric
    isprintable()   Returns True if all characters in the string are printable
    isspace()	   Returns True if all characters in the string are whitespaces
    istitle()	   Returns True if the string follows the rules of a title
    isupper()	   Returns True if all characters in the string are upper case
    join()	      Joins the elements of an iterable to the end of the string
    ljust()	     Returns a left justified version of the string
    lower()	     Converts a string into lower case
    lstrip()	    Returns a left trim version of the string
    maketrans()	 Returns a translation table to be used in translations
    partition()	 Returns a tuple where the string is parted into three parts
    replace()	   Returns a string where a specified value is replaced with a specified value
    rfind()	     Searches the string for a specified value and returns the last position of where it was found
    rindex()	    Searches the string for a specified value and returns the last position of where it was found
    rjust()	     Returns a right justified version of the string
    rpartition()	Returns a tuple where the string is parted into three parts
    rsplit()	    Splits the string at the specified separator, and returns a list
    rstrip()	    Returns a right trim version of the string
    split()	     Splits the string at the specified separator, and returns a list
    splitlines()	Splits the string at line breaks and returns a list
    startswith()	Returns true if the string starts with the specified value
    strip()	     Returns a trimmed version of the string
    swapcase()	  Swaps cases, lower case becomes upper case and vice versa
    title()	     Converts the first character of each word to upper case
    translate()	 Returns a translated string
    upper()	     Converts a string into upper case
    zfill()	     Fills the string with a specified number of 0 values at the beginning