# Python Collections (Arrays)
* There are four collection data types in the Python programming language:

>1. List is a collection which is ordered and changeable. Allows duplicate members.
>2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
>3. Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
>4. Dictionary is a collection which is ordered and changeable. No duplicate members.

* When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# List
1. What is a list
2. List vs. Array
3. create
4. access
5. edit
6. add
7. delete
8. operatins
9. functions

### 1.What is List
>* List items are ordered, mutable and allow duplicate values.
>* Lists are used to store multiple items in a single variable.
>* Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
>* Lists are created using square brackets:
>* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
>* **Allow Duplicates** - Since lists are indexed, lists can have items with the same value:
>* Lists can contain any arbitrary objects. List elements can be accessed by index. Lists can be nested to arbitrary depth.
>* list() is a function, used to data type conversion

In [149]:
# to know more about list type the below code
list?

### 2.List Vs. Array

* list is a data type where you can save multiple things at a same time
* array is homegenous data type
* list can have different data types inside the same list
* list can be heterogenous
* array will have continous memory storage one after another
* array are much faster
* lists are more programmer friendly

### 3. creating the list

In [150]:
l=[]
l
# this is empty list

[]

In [151]:
# homogenous list
L=[1,2,3,4]
print(L)

[1, 2, 3, 4]

In [152]:
# heterogenous list:
# A list can contain different data types:
L2=["hello",22,"badhiya he","appu",21,True,5+6j]
print(L2)

['hello', 22, 'badhiya he', 'appu', 21, True, (5+6j)]

In [153]:
# List items can be of any data type:
# String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [154]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

>* The list() Constructor
>* It is also possible to use the list() constructor when creating a new list.

In [155]:
l5=list(("haldia"))
l5

['h', 'a', 'l', 'd', 'i', 'a']

In [156]:
thislist = list(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [157]:
# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### Multi-dimensional list
* list within a list

In [158]:
# 2D list
l3=[1,2,3,[4,5]]
# it is heterogenous
l3

[1, 2, 3, [4, 5]]

In [159]:
# 3D list
l4=[[[1,2],[5,6],[7,8]]]
l4

[[[1, 2], [5, 6], [7, 8]]]

### 4. accessing the list
>* List items are indexed and you can access them by referring to the index number:
>* List items are indexed, the first item has index [0], the second item has index [1] etc.

In [160]:
L=[1,2,3,4]
L[0]
# [] used to get the index of the item saved in the list

1

In [161]:
# positive indexing
L[4]
# we will get an index error
# because the given index is out of range
# index error - list index out of range

IndexError: list index out of range

* Range of Indexes
>* You can specify a range of indexes by specifying where to start and where to end the range.
>* When specifying a range, the return value will be a new list with the specified items.

### slicing
#### List_name[from : to : jump ]
>* **from**, **to** and **jump** must be same direction
>* forward to forward
>* backward to backward

In [162]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

* Note: The search will start at index 2 (included) and end at index 5 (not included).

In [163]:
# By leaving out the start value, the range will start at the first item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [164]:
# By leaving out the end value, the range will go on to the end of the list:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

* Negative Indexing
>* Negative indexing means start from the end
>* -1 refers to the last item, -2 refers to the second last item etc.

In [165]:
# negative indexing
L[-1]

4

In [166]:
# Range of Negative Indexes
'''Specify negative indexes if you want to 
start the search from the end of the list:'''

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [167]:
L[::-1]

[4, 3, 2, 1]

In [168]:
# here list is 2D and we want to extract the number 4
l3=[1,2,3,[4,5]]
print(l3[-1])
x=l3[-1]
print(x[0])

[4, 5]
4

In [169]:
# for that we will use two square brackets
l3[-1][1]

5

In [170]:
print(l4)
# here we want 7 of the list l4
# we will use 3 square brackets because list is 3D

[[[1, 2], [5, 6], [7, 8]]]

In [171]:
l4[0][-1][0]

7

In [172]:
l5=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(l5)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [173]:
l5[1][-1][0]

7

In [174]:
l5[0][0][1]

2

In [175]:
# nested list
List8 = [4,5,6,3,4,[4,'foo','tur',[True, 'now', 45]],67,]
# Trying to access 'ru' from True
print(List8[5][-1][0])
str(List8[5][-1][0])[1:3]

True

'ru'

### 5. edit
>* we can do editing in list using positive indexing, negative indexing or slicing
>* To change the value of a specific item, refer to the index number:

In [176]:
l=[1,2,3,4,5]
l[0]=100
l
# lists in python are mutable

[100, 2, 3, 4, 5]

In [177]:
l[-1]=500
l

[100, 2, 3, 4, 500]

In [178]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

###### Change a Range of Item Values
>* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [179]:
'''Change the values "banana" and "cherry" with 
the values "blackcurrant" and "watermelon":'''

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [180]:
'''# If you insert more items than you replace, 
the new items will be inserted where you specified,''' 
# and the remaining items will move accordingly:
# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

* The length of the list will change when the number of items inserted does not match the number of items replaced.

In [181]:
''' If you insert less items than you replace, 
the new items will be inserted where you specified,''' 
# and the remaining items will move accordingly:

# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [182]:
l[1:4]=[200,300,450]
l

[100, 200, 300, 450, 500]

In [243]:
name=["ram","alex","salmaan"]
print("Old Name ",name[1])
name[1]="Krish"
print("New Name ",name[1])
print("new list:",name)

Old Name  alex
New Name  Krish
new list: ['ram', 'Krish', 'salmaan']

### 6. Add
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.
> 1. append
> 2. extend
> 3. insert

* append
>* to add an item to the end of the list, use the append() method:

In [183]:
l=[100, 200, 300, 450, 500]
print(l)
# if we want to add 1000 in the last of list l we will use append function
l.append(1000)
print(l)

[100, 200, 300, 450, 500]
[100, 200, 300, 450, 500, 1000]

In [184]:
l.append("himanshu is amazing")
print(l)

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing']

In [245]:
name=["ram","alex","salmaan"]
print("Old List",name)
inp=input("Enter name to be added: ")
name.append(inp)
print("New List",name)

Old List ['ram', 'alex', 'salmaan']
Enter name to be added: himanshu
New List ['ram', 'alex', 'salmaan', 'himanshu']

>* if we want to add multiple things in the list we will use extend function

* extend
>* To append elements from another list to the current list, use the extend() method.

In [185]:
l.extend([5000,6000])
print(l)

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000]

In [186]:
l.append([5,6])
print(l)
# 5,6 will be entered as a single item at the end

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6]]

In [187]:
l.extend("goa")
print(l)

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a']

* insert
>* To insert a list item at a specified index, use the insert() method.
>* The insert() method inserts an item at the specified index:

In [188]:
l.insert(1,"world")
print(l)

[100, 'world', 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a']

In [189]:
# The insert() method inserts an item at the specified index:

thislist = ["apple", "banana", "cherry"]
# Insert "watermelon" as the third item:
thislist.insert(2, "watermelon")
print(thislist)
# As a result of the example above, the list will now contain 4 items.
print(len(thislist))

['apple', 'banana', 'watermelon', 'cherry']
4

### 7. delete
* del
* remove
* pop
* clear

>* del keyword will delete the list completely.

In [190]:
L2=["hello",22,"badhiya he","appu",21,True,5+6j]
L2

['hello', 22, 'badhiya he', 'appu', 21, True, (5+6j)]

In [191]:
del L2
L2 
# it will show an error because L2 is deleted so it is not defined

NameError: name 'L2' is not defined

>* del keyword removes the specified index:

In [192]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [193]:
L=[1,2,3,4]
print(L)
del L[0]
print(L)
del L[-2]
print(L)

[1, 2, 3, 4]
[2, 3, 4]
[2, 4]

In [194]:
l=[100, 'world', 200, 300, 450, 500, 1000, 'himanshu is amazing', 
   5000, 6000, [5, 6], 'g', 'o', 'a', 'g', 'o', 'a']
print(l)

[100, 'world', 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a', 'g', 'o', 'a']

In [195]:
del l[-3:]
# it will remove the goa 
print(l)

[100, 'world', 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a']

>* Remove Specified Item
>* The remove() method removes the specified item.
>* if we don't know the index position and still want to delete something

In [196]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [197]:
print(l)
l.remove("world")
print(l)

[100, 'world', 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a']
[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o', 'a']

In [244]:
name=["ram","alex","salmaan"]
print("Old List",name)
inp=input("Enter name to be removed: ")
name.remove(inp)
print("New List",name)

Old List ['ram', 'alex', 'salmaan']
Enter name to be removed: alex
New List ['ram', 'salmaan']

>* Remove Specified Index
>* The pop() method removes the specified index.

In [198]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

>* If you do not specify the index, the pop() method removes the last item.

In [199]:
l.pop()
print(l)

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g', 'o']

In [200]:
l.pop()
print(l)
# pop will delete the last item of the list

[100, 200, 300, 450, 500, 1000, 'himanshu is amazing', 5000, 6000, [5, 6], 'g']

>* The clear() method empties the list.
>* The list still remains, but it has no content.

In [201]:
l.clear()
print(l)
# clear will not delete the list but it will empty the given list

[]

In [202]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### 8. operations

In [203]:
L=[1,2,3,4]
L1=[5,6,7,8]
print(L+L1)
# concatination will happen

[1, 2, 3, 4, 5, 6, 7, 8]

In [204]:
'''Another way to join two lists is by appending 
all the items from list2 into list1, one by one:'''


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [205]:
# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [206]:
# multiplications
L*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [207]:
# Check if Item Exists
# To determine if a specified item is present in a list use the in keyword:

# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print("sorry! it's not there. ")

Yes, 'apple' is in the fruits list

In [208]:
# loop operations
# You can loop through the list items by using a for loop:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [209]:
L3=[1,2,3,[4,5]]
for i in L3:
    print(i)
# here [4,5] is a single element so loop will occur 4 times in list L3

1
2
3
[4, 5]

>* You can loop through the list items by using a while loop.
>* Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.
>* Remember to increase the index by 1 after each iteration.

In [210]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i += 1

apple
banana
cherry

In [211]:
# membership operator
print(4 in L3)

False

In [212]:
[4,5] in L3

True

### 9. Functions on List

In [213]:
'''From Python's perspective, 
lists are defined as objects with the data type 'list':'''


mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [214]:
# To determine how many items a list has, use the len() function:
L2=["hello",22,"badhiya he","appu",21,True,5+6j]
len(L2)

7

In [215]:
l=[1, 2, 3, 4, 5, 6, 7, 8]
min(l)

1

In [216]:
max(l)

8

In [246]:
name=["ram","alex","salmaan","salmaan","sita"]
inp=input("Enter name to be counted: ")
x=name.count(inp)
print("Total Element are ",x)

Enter name to be counted: salmaan
Total Element are  2

In [217]:
'''# List objects have a sort() method that 
will sort the list alphanumerically, ascending, by default:'''
# Sort the list alphabetically:
# this sort will do the permanent changes in the list

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [218]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [219]:
# To sort descending, use the keyword argument reverse = True:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [220]:
''' By default the sort() method is case sensitive, 
resulting in all capital letters being sorted before lower case letters:'''
# Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [221]:
'''#So if you want a case-insensitive sort function, 
use str.lower as a key function:
Perform a case-insensitive sort of the list:'''

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [222]:
# to make changes tempororary in the list we use sorted
# sorted will only create new list in the memory

l=[1, 2, 3, 4, 5, 6, 7, 8]
sorted(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [223]:
# for descending oreder
sorted(l,reverse=True)

[8, 7, 6, 5, 4, 3, 2, 1]

In [224]:
''' because it's a temporary opration, 
it will not make changes in the original list'''
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [225]:
l.sort(reverse=True)
l
# this sort will do the permanent changes in the list

[8, 7, 6, 5, 4, 3, 2, 1]

In [226]:
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [227]:
# The reverse() method reverses the current sorting order of the elements.
# Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [228]:
l.index(3)

2

In [229]:
"hello how are you".title()
# this will make first letter of each word capital

'Hello How Are You'

In [230]:
sample="how are you?"
x=print(sample.split())

['how', 'are', 'you?']

In [231]:
for i in sample.split():
    print(i)

how
are
you?

In [232]:
for i in sample.split():
    print(i.capitalize())

How
Are
You?

In [233]:
l=[]
for i in sample.split():
    print(i.capitalize())
    l.append(i.capitalize())
l

How
Are
You?

['How', 'Are', 'You?']

In [234]:
print("-".join(l))

How-Are-You?

In [235]:
sample="today has been great for me"
x=print(sample.split())
for i in sample.split():
    print(i.capitalize())
l=[]
for i in sample.split():
    print(i.capitalize())
    l.append(i.capitalize())
l
print("".join(l))

['today', 'has', 'been', 'great', 'for', 'me']
Today
Has
Been
Great
For
Me
Today
Has
Been
Great
For
Me
TodayHasBeenGreatForMe

In [236]:
x="abc@gmail.com"
print(x)

abc@gmail.com

In [237]:
print(x[:x.find("@")])

abc

In [238]:
# we want to remove the duplicates from te following list
y=[1,1,2,2,3,3,4,4]
l=[]
for i in y:
    print(i)

1
1
2
2
3
3
4
4

In [239]:
for i in y:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3, 4]

In [240]:
# Copy a List
# You cannot copy a list simply by typing list2 = list1,
''' because: list2 will only be a reference to list1, 
and changes made in list1 will automatically also be made in list2.'''

In [241]:
# Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [242]:
# Another way to make a copy is to use the built-in method list().

# Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']